.card-design {
    color: rgba(166, 254, 78, 0.726);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    /* position: fixed; */
    margin-right: 10px;
    padding: 15px;
    font-weight: 500;
    background-color: rgba(154, 102, 94, 0.407);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(255, 255, 255, 0.5);
}