body {
    background-image: url('https://i.ibb.co/7rkcQdS/architecturaldigest-architecture-climate-change.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* margin-top: 40px; */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.app-main {
    color: rgb(227, 240, 161);
}